<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/functions.js"></script>
  <title>INDEX PAGE</title>
</head>

<body>
  <div class="cont">
    <div class="header">
      <div class="headercont">
        <div class="logo">
          <a href="/">PROJECT2</a>
        </div>
        <div class="search">
          <input type="text" name="search" id="search" placeholder="search box to here">
          <span class="searchbtn">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <div class="right">
          <div class="notif">
            <i class="far fa-bell" id="bell"></i>
          </div>
          <div class="notifications">
            <div class="arrow"></div>
            <div>
              <% if (locals.notif){ %>
                <ul>
                  <% if(notif.length>0){ notif.slice(-5).reverse().forEach(n =>{ %>
                    <li>
                      <% switch (n.ncode) { case 1: %>
                        <a href="post/<%= n.postid %>"><b>
                            <%= n.nuser %>
                          </b>liked your post </a>
                        <% break; case 2: %>
                          <a href="post/<%= n.postid %>"><b>
                              <%= n.nuser %>
                            </b>comment to your post </a>
                          <% break; case 3: %>
                            <a href="post/<%= n.postid %>"><b>
                                <%= n.nuser %>
                              </b>tagged you at </a>
                            <% break; default: break; } %>
                              <span class="ntime">
                                <%= n.ntime %> hours
                              </span>
                    </li>
                    <% }) } else{ %>
                      <li><a href="javascript:void(0)">There is no notif yet.</a></li>
                      <% } %>
                </ul>
                <% } %>
            </div>
          </div>

          <label class="mode-control">
            <input type="checkbox" id="mode-btn">
            <span><i class="fas fa-moon"></i></span>
            <span><i class="fas fa-sun"></i></span>
          </label>
          <a class="logout" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
          <div class="profile">
            <a href="/<%= (locals.username) ? username : 'null' %>"><img src="img/profile1.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <div class="centercont">
        <div class="posts">
          <div class="sendpost">
            <div class="cont">
              <h3>
                <%= (locals.message) ? message : '' %>
              </h3>
              <button class="preview" id="preview">Preview</button>
              <form action="/post" method="POST" enctype='application/json'>
                <input disabled name="media" type="file" placeholder="Tags (optional)">
                <input name="tags" type="text" placeholder="tags exp: html css asd qwe">
                <textarea name="article" cols="30" rows="10"></textarea>
                <button type="submit">POST</button>
              </form>
            </div>
          </div>
          <% if(locals.data && data.length>0){
            for (i=0; i< data.length;i++){ %>

              <div class="post" data-post-id="<%= data[i].postid %>">
                <div class="header">
                  <div class="user">
                    <img src="//picsum.photos/80/80" alt="">
                    <div>
                      <a href="/<%= data[i].username %>">
                        <%= data[i].username %>
                          <% if(data[i].verified){ %>
                            <div class="verified">
                              <i class="far fa-check-circle"></i>
                            </div>
                            <% } %>
                      </a>
                      <div class="pdate">
                        <%= (locals.date) ? date[i] : '' %>
                      </div>
                    </div>
                  </div>

                  <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                  </div>
                  <div class="options">
                    <div class="arrow"> </div>
                    <div>
                      <% if(locals.isme && isme[i]){ %>
                        <a class="del" href="javascript:void(0)"><img src="/img/delete.svg" alt="">Delete</a>
                        <% } %>
                          <a href="javascript:void(0)"><img src="/img/share.svg" alt="">Share</a>
                          <a href="javascript:void(0)"><img src="/img/report.svg" alt="">Report</a>
                          <a class="save" href="javascript:void(0)"><img src="/img/save.svg" alt="">Save</a>
                    </div>
                  </div>

                </div>
                <div class="article">
                  <p class="ptext">
                    <%= data[i].article %>
                  </p>
                  <div class="pmedia" style="display: none;">
                    <img src="" alt="post img">
                  </div>
                </div>
                <div class="buttons">
                  <img class="like" src="/img/arrow.svg" alt="">
                  <img class="dislike" src="/img/arrow.svg" alt="">
                  <img class="share" src="/img/share.svg" alt="">
                </div>
                <span class="likes" id="<%= data[i].postid %>">
                  <%= (locals.counts[i]) ? counts[i][0] : '' %>
                </span>
                likes
                <div class="comments">
                  <div class="comment" style="display: none;">
                    <span class="uname">test username</span>
                    <span class="comment">test commeent</span>
                  </div>
                </div>
                <div class="sendcomment">
                  <form>
                    <input type="text">
                    <button type="button">Send</button>
                  </form>
                </div>
              </div>
              <% } } else{ %>
                no post
                <% } %>
        </div>
      </div>
      <div class="cright">right</div>
    </div>
  </div>
  <i onclick="topFunction()" id="gotopbtn" title="Go to top" class="fas fa-arrow-up"></i>
  <script src="js/jquery.min.js"></script>
  <script src="js/fontawesome.js"></script>
  <script src="/js/sweetalert2.all.min.js"></script>
  <script src="js/index.js"></script>
  <script>

  </script>
</body>

</html>