<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/sweetalert2.all.min.js"></script>
	<title>PROFILE PAGE</title>
</head>

<body>
	<div class="cont">
		<div class="header">
			<div class="headercont">
				<div class="logo">
					<a href="/"><img src="img/profile2.jpg" alt="logo error"></a>
				</div>
				<div class="search">
					<input type="text" name="search" id="search" placeholder="search box to here">
					<span class="searchbtn">
						<i class="fas fa-search"></i>
					</span>
				</div>
				<div class="right">
					<div class="notif">
						<i class="far fa-bell" id="bell"></i>
						<div class="notifications">
							<div class="arrow"> </div>
							<ul>
								<li><span class="notiftime">22:21</span><a href="javascript:void(0)">Ahmet bir yorumda
										sizden bahsetti</a></li>
								<li><span class="notiftime">02:52</span><a href="javascript:void(0)">Ali Gonderini
										begendi</a></li>
								<li><span class="notiftime">21:11</span><a href="javascript:void(0)">Ahmet bir yorumda
										sizden bahsetti</a></li>
								<li><span class="notiftime">04:57</span><a href="javascript:void(0)">Ayse Gonderini
										begendi</a></li>
								<li><span class="notiftime">13:15</span><a href="javascript:void(0)">Mustafa bir yorumda
										sizden bahsetti</a></li>
							</ul>
						</div>
					</div>
					<label class="mode-control">
						<input type="checkbox" id="mode-btn">
						<span><i class="fas fa-moon"></i></span>
						<span><i class="fas fa-sun"></i></span>
					</label>
					<a class="logout" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
					<div class="profile">
						<a href="<%= (locals.username && locals.isme && isme) ? username : 'null' %>"><img src="img/profile1.jpg"
								alt=""></a>
					</div>
				</div>
			</div>
		</div>

		<div class="center prof">
			<div class="centercont">
				<div class="posts">
					<div class="puser">
						<div class="pname">
							<div>
								<img src="//picsum.photos/80/80" alt="">
								<div>
									<a href="javascript:void(0)">
										<%= (locals.username) ? username : 'null' %>
									</a>
								</div>
							</div>
							<div class="pbtn">
								<% if(locals.isme && isme){ %> <a href="/edit/<%= (locals.username) ? username : 'null' %>">Edit
										profile</a>
									<% } else{ %>
										<a href="/follow/<%= (locals.username) ? username : 'null' %>">Follow</a>
										<% } %>

							</div>
						</div>
						<div class="pstatus">
							<a href="#">
								<div class="pcount">23</div>posts
							</a>
							<a href="#">
								<div class="pfollowers">
									<%= (locals.data) ? data.followers.count : 'null' %>
								</div>followers
							</a>
							<a href="#">
								<div class="pfollowings">
									<%= (locals.data) ? data.following.count : 'null' %>
								</div>following
							</a>
						</div>
					</div>
					<div class="post" post-id="123456">
						<div class="header">
							<div class="user">
								<img src="//picsum.photos/80/80" alt="">
								<div>
									<a href="#">test name</a>
									<div class="pdate">1 days ago</div>
								</div>
							</div>
							<div class="more" id="more">
								<i class="fas fa-ellipsis-h"></i>
								<div class="options">
									<div class="arrow"> </div>
									<ul>
										<li><a href="javascript:void(0)">Paylas</a></li>
										<li><a href="javascript:void(0)">Sikayet et</a></li>
										<li><a href="javascript:void(0)">Kaydet</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="article">
							<p class="ptext">
								1Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, pariatur
								quibusdam?
								Maxime dicta repellendus doloribus beatae. Inventore quia quis reprehenderit assumenda,
								autem a ipsam ipsum dolorum officiis sit, dignissimos nam!
							</p>
							<div class="pmedia">
								<img src="/img/bridge.jpg" alt="post img">
							</div>
						</div>
						<div class="buttons">Like | Dislike/none | Share | Save</div>
						<div class="likes">1k likes</div>
						<div class="comments">
							<div class="comment">
								<span class="uname">test username</span>
								<span class="comment">test commeent</span>
							</div>
						</div>
						<div class="sendcomment">
							<form action="">
								<input type="text">
								<button type="button" id="sendcomm">Send</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="cright">right</div>
		</div>
	</div>
	<i onclick="topFunction()" id="gotopbtn" title="Go to top" class="fas fa-arrow-up"></i>
	<script src="js/jquery.min.js"></script>
	<script src="js/fontawesome.js"></script>
	<script src="js/index.js"></script>
</body>

</html>