<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/sweetalert2.all.min.js"></script>
	<title>
		<%= (locals.u2 ) ? u2 : 'Profile' %>
	</title>
</head>

<body>
	<div class="cont">
		<div class="header">
			<div class="headercont">
				<div class="logo">
					<a href="/">PROJECT2</a>
				</div>
				<div class="search">
					<input type="text" name="search" id="search" placeholder="search box to here">
					<span class="searchbtn">
						<i class="fas fa-search"></i>
					</span>
				</div>
				<div class="right">
					<div class="notif">
						<i class="far fa-bell" id="bell"></i>
						<div class="notifications">
							<div class="arrow"> </div>
							<ul>
								<li><span class="notiftime">22:21</span><a href="javascript:void(0)">Ahmet bir yorumda
										sizden bahsetti</a></li>
								<li><span class="notiftime">02:52</span><a href="javascript:void(0)">Ali Gonderini
										begendi</a></li>
								<li><span class="notiftime">21:11</span><a href="javascript:void(0)">Ahmet bir yorumda
										sizden bahsetti</a></li>
								<li><span class="notiftime">04:57</span><a href="javascript:void(0)">Ayse Gonderini
										begendi</a></li>
								<li><span class="notiftime">13:15</span><a href="javascript:void(0)">Mustafa bir yorumda
										sizden bahsetti</a></li>
							</ul>
						</div>
					</div>
					<label class="mode-control">
						<input type="checkbox" id="mode-btn">
						<span><i class="fas fa-moon"></i></span>
						<span><i class="fas fa-sun"></i></span>
					</label>
					<a class="logout" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
					<div class="profile">
						<a href="<%= (locals.u1 && isme) ? 'javascript:void(0)' : username %>">
							<img src="img/profile1.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="center prof">
			<div class="centercont">
				<div class="posts">
					<div class="puser">
						<div class="pname">
							<div>
								<img src="//picsum.photos/500/500" alt="">
								<div>
									<span>
										<%= (locals.u2) ? u2 : 'null' %>
									</span>
								</div>
							</div>
							<div class="pbtn">
								<% if(locals.isme && isme){ %> <a href="/edit/<%= (locals.u1) ? u1 : 'null' %>">Edit
										profile</a>
									<% } else{ %>
										<a class="follow" data-username="<%= (locals.u2) ? u2 : 'null' %>">
											<%= (locals.isfollowed && isfollowed) ? 'Unfollow' : 'Follow' %>
										</a>
										<% } %>

							</div>
						</div>
						<%= (locals.data) ? data.fullname : 'null' %>
							<br>
							<%= (locals.bio) ? bio : 'null' %>
								<div class="pstatus">
									<a href="#">
										<div class="pcount">23</div>posts
									</a>
									<a href="#">
										<div class="pfollowers">

										</div>followers
									</a>
									<a href="#">
										<div class="pfollowings">

										</div>following
									</a>
								</div>
					</div>

				</div>
				<div class="cright">right</div>
			</div>
		</div>
		<i onclick="topFunction()" id="gotopbtn" title="Go to top" class="fas fa-arrow-up"></i>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/fontawesome.js"></script>
		<script src="/js/index.js"></script>
		<script src="/js/post.js"></script>
</body>

</html>